# Build Cache
build/

# Visual Studio Code cache
# .vscode/

# Lit
.lit_test_times.txt
*.script
*.styio.script

# CMake cache
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Xmake cache
.xmake/

# MacOS Cache
.DS_Store